<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Urejanje vnosa</title>
</head>
<body>

    <h1>Urejanje vnosa</h1>

    <form method="post" action="/film/{{ film.key.id() }}/uredi">
        <p>
            Ime:
            <input name="ime" value="{{ film.ime }}" />
        </p>
        <p>
            Ocena:
            <input name="ocena"  value="{{ film.ocena }}" />
        </p>
        <p>
            Slika:
            <input name="slika"  value="{{ film.slika }}" />
        </p>
        <p>
            <button type="submit">Uredi</button>
        </p>
    </form>

</body>
</html>